<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assests/css/main.css">
    <title>$TAB_TITLE</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Homepage</a>
            <a href="/javascript">Javascript</a>
            <a href="/nodejs">NodeJS</a>
            <a href="/codestandards">Codestandards</a>
            <a href="/serving">Serving a page</a>
        </nav>
    </header>

    <main>